body {
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    font-family: 'Segoe UI', sans-serif;
}
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
  background-color: #212529; /* tu color de fondo */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  animation: slideDown 0.4s ease-in-out;
}

.slide-up {
  animation: slideUp 0.4s ease-in-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}
#mainHeader {
    height: 80px;
    background-color: #212529; /* o el color que uses */
}

.d-flex {
    display: flex !important
;
margin-top:10px;
}

.header-placeholder {
  height: 160px; /* ajustá según la altura de tu header */
}
.p-3 {
    padding: 0rem !important;
}
/* Logo arriba a la izquierda */
.logo {
    height: 100px;
    position: relative;
    bottom: 10px;
}
/* Imagen perfil arriba a la derecha */
.perfil-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

/* Imagen central: bandera */
.bandera {
    height: 200px;
}

/* Imagen fija abajo a la izquierda */
.cartas {
    position: fixed;
    top: 280px;
    left: -60px;
    height: 250px;
}
.btn-primary{
font-weight: bold;}

.mb-4{
margin-bottom: 0rem!important;
}

footer{
background-color: green; }

/* top titulo modificado. viene x bootstrap*/
.mt-5 {
  margin-top: 0 !important;
}
.carousel
 {
    margin-top: 40px;
}

/*nav.. al lado del perfil */

.align-items-center {
    align-items: start !important;
