body {
    margin: 0;
}

.left-side {
    padding: 8px 0;
    /* menos padding vertical */
    background-color: black;
    min-height: 150vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 70px;
}

/* .form-box {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    /* menos padding */
   /* width: 100%;
    max-width: 500px;
     más pequeño } */
.form-box {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    overflow: hidden; /* evita que algo sobresalga */
}

.form-control {
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 0.9rem;
    /* más pequeño */
}

.form-control:focus {
    border-color: #6eb4f7;
    box-shadow: 0 0 0 0.2rem rgba(110, 180, 247, 0.25);
}

.role-btn {
    flex: 1;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 8px;
    background-color: #f5f5f5;
    color: black;
    font-weight: 500;
}

.role-btn.active {
    background-color: black;
    color: white;
    border-color: black;
}

.register-btn {
    background-color: #6eb4f7;
    color: white;
    font-weight: 500;
    border-radius: 8px;
    padding: 7px;
}

.register-btn:hover {
    background-color: #337bdb;
    color: white;
}

.image-side {
    background-image: url('/img/messi1.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

h4 {
    font-size: 1.3rem;
    /* un poco más chico */
    margin-bottom: 0rem;
}

.mb-4 {
    margin-bottom: 0.7rem !important;
}

body,
html {
    height: 120vh;
    /* overflow-y: hidden; */
}

#map {
    margin: 0 auto; /* centrado horizontal */
    display: block; /* necesario para que el margin funcione */
    width: auto !important;
}

#suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%; /* ahora tomará el ancho del input */
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
}

.d-grid {
    margin-top: 10px
}