<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <style>
        

    </style>
</head>
<body>
  
<section class="dashboard-main">
    <div class="dashboard-min__nav">
        <div class="dashboard-logo">
            <img th:src="@{/images/logo.png}" alt="Logo">
        </div>

        <ul class="nav-links">
            <li><a href="/dashboard"><span>Inicio</span> <i class="fas fa-home"></i></a></li>
            <li><a href="/reservar"><span>Reservar turno</span> <i class="fas fa-cut"></i></a></li>
            <li><a href="/mis-reservas"><span>Mis reservas</span> <i class="fas fa-calendar-check"></i></a></li>
            <li><a href="/favoritos"><span>Favoritos</span> <i class="fas fa-star"></i></a></li>
            <li><a href="/pagos"><span>Métodos de pago</span> <i class="fas fa-credit-card"></i></a></li>
            <li><a href="/promos"><span>Promociones</span> <i class="fas fa-gift"></i></a></li>
            <li><a href="/soporte"><span>Soporte</span> <i class="fas fa-headset"></i></a></li>
            <li><a href="/perfil"><span>Perfil</span> <i class="fas fa-user"></i></a></li>
            <li><a href="/logout"><span>Cerrar sesión</span> <i class="fas fa-sign-out"></i></a></li>
        </ul>
    </div>

    <div class="dashboard-min__content">
        <div class="dashboard-min__content__header">
            <h2>Barberos Disponibles</h2>
            <div>
                <img th:src="@{/images/user.png}" alt="User">
                <span>Usuario Logueado</span>
            </div>
        </div>

        <div class="dashboard-min__content__main">
            <div class="asslum">
sdasadsda
            </div>
            <div class="barberos-container">
                <div class="barbero-card" th:each="barbero : ${barberos}">
                    <div class="barbero-card__left">
                        <h3 th:text="${barbero.nombre}"></h3>
                        <p class="barbero-subtitle">Especialista en cortes modernos</p>
                        <div class="rating">
                            <i class="fas fa-star" th:each="i : ${#numbers.sequence(1, barbero.rating)}"></i>
                            <i class="far fa-star" th:each="i : ${#numbers.sequence(barbero.rating + 1, 5)}"></i>
                        </div>
                    </div>

                    <div class="barbero-card__right">
                        <img th:src="${barbero.foto}" alt="Foto del barbero">
                        <a href="/reservar" class="btn-reservar">Reservar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
