<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  
        <section class="dashboard-main">
            <div class="dashboard-min__nav">
               <div class="dashboard-logo">
                    <img th:src="@{/images/logo.png}" alt="Logo">
               </div>


        
    

                <ul class="nav-links">
                    <li>
                        <a href="/dashboard">
                            <span>Inicio</span> <i class="fas fa-home"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/reservar">
                            <span>Reservar turno</span> <i class="fas fa-cut"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/mis-reservas">
                            <span>Mis reservas</span> <i class="fas fa-calendar-check"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/favoritos">
                            <span>Favoritos</span> <i class="fas fa-star"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/pagos">
                            <span>Métodos de pago</span> <i class="fas fa-credit-card"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/promos">
                            <span>Promociones</span> <i class="fas fa-gift"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/soporte">
                            <span>Soporte</span> <i class="fas fa-headset"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/perfil">
                             <span>Perfil</span> <i class="fas fa-user"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/perfil">
                             <span>Cerrar sesión</span> <i class="fas fa-sign-out"></i>
                        </a>
                    </li>
                </ul>


            </div>


            <div class="dashboard-min__content">
                <div class="dashboard-min__content__header">
                    <h2>Dashboard</h2>
                    <div>
                        <img th:src="@{/images/user.png}" alt="User">
                        <span>Usuario Logueado</span>
                    </div>
                
                </div>




                <div class="dashboard-min__content__main">
                    <div>
                        <div class="data">
                            <div class="data-item">
                                <h3>⌚Próximo turno confirmado</h3>
                                <h2>10/09/2025 a las 15:00</h2>
                                <p><span>Barbero:</span> Lautaro Acosta</p>
                            </div>

                            <div class="data-item">
                                <h3>⭐Barberos favoritos</h3>
                                <h4>3</h4>
                            </div>

                            <div class="data-item">
                                <h3>💳Dinero gastado este mes</h3>
                                <h4>15000$</h4>
                            </div>

                            <div class="data-item">
                                <h3>📅Turnos confirmados</h3>
                                <h4>2</h4>
                            </div>
                        </div>

                        <div class="welcome-message">

                        </div>
                    </div>
                    

                </div>
            </div>

        </section>
   

    
</body>
</html>
